#header {
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  background: #354c9e;
  background: linear-gradient(
    266deg,
    rgba(53, 76, 158, 1) 0%,
    rgba(30, 36, 85, 1) 100%
  );
  // min-height: 135px;
  transition: all 0.3s ease;
  @media #{$slg} {
    flex-wrap: wrap;
  }
  @media #{$sm} {
    flex-wrap: wrap;
    gap: 0;
    min-height: initial;
    // padding: 10px 15px;
  }
  .navbar__brand {
    // @media #{$sm} {
    //   order: 2;
    //   margin-right: 0;
    //   max-width: 90px;
    //   width: 100%;
    //   height: 80px;
    // }
    svg {
      width: 220px;
      max-width: 100%;
      height: auto;
      // max-width: 100%;
      transition: all 0.3s ease;
      // width: 200px;
      // height: auto;
      // @media #{$xxlg} {
      //   width: 220px;
      // }
      @media #{$sm} {
        left: 15px;
        top: 10px;
        width: 150px;
      }
    }
  }
  .navbar__toggler {
    @media #{$sm} {
      order: 3;
    }
  }
  .navbar__partners {
    @media #{$sm} {
      width: 100%;
      order: 1;
      background-color: var(--white);
      padding: 10px;
    }
    svg {
      @media #{$sm} {
        width: 100%;
        height: auto;
      }
    }
    .navbar__partners__ornament {
      @media #{$sm} {
        display: none;
      }
    }
  }
  .navbar__nav {
    @media #{$sm} {
      order: 4;
    }
  }
}

#header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 0;

  .navbar__brand {
    max-width: 150px;
    // @media #{$sm} {
    //   height: 0;
    // }
    svg {
      // width: 130px;
      top: 5px;
      @media #{$sm} {
        width: 75px;
      }
    }
  }
  .navbar__toggler {
    @media #{$sm} {
      padding: 5px;
    }
  }
  .navbar__partners {
    padding: 10px 20px 10px 80px;
    // width: 30%;
    @media #{$slg} {
      display: none;
    }
    @media #{$sm} {
      padding: 0;
      height: 0px;
      overflow: hidden;
    }
    // .navbar__partner {
    //   svg {
    //     width: 100px;
    //   }
    // }

    .navbar__partners__ornament {
      bottom: 0;
    }
  }
}
