.meta {
  margin-bottom: 20px;
}
.entry-date {
  display: block;
  font-size: 0.8em;
  margin-bottom: 20px;
  margin-bottom: 30px;
  color: var(--black);
}
body.single {
  .rank-math-breadcrumb {
    // padding: 0 20px;

    p {
      text-align: center !important;
      justify-content: center !important;
    }
    a {
      color: var(--main2);
    }
    span {
      color: var(--black) !important;
    }
  }
  .meta-pub {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    font-size: 0.8em;
    margin: 0;
    span {
      color: var(--black);
    }
  }
  img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .entry-content {
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
    // text-align: justify;
    margin-bottom: 50px;
    img {
      max-width: 100%;
      height: auto;
    }
    a {
      color: var(--main);
    }
  }
}
