@charset "UTF-8";
:root {
  --main: #e50525;
  --main1: #5fb7ff;
  --main2: #221b48;
  --main3: #eb6608;
  --black: #000000;
  --light-black: #5e5e5e;
  --body: #f5f5f5;
  --gray: #e4e8f0;
  --light: #fafafc;
  --white: #fff;
}

.b-hero {
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
  overflow: hidden;
}
.b-hero .img {
  background-color: var(--main1);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.b-hero .img:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #354c9e;
  background: linear-gradient(266deg, rgba(53, 76, 158, 0) 0%, rgba(30, 36, 85, 0.5) 100%);
}
.b-hero .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.b-hero .kids img {
  position: absolute;
  right: 10%;
  bottom: 0;
  height: 90%;
  width: auto;
}
@media only screen and (max-width: 1500px) {
  .b-hero .kids img {
    right: 3%;
    bottom: 0;
    height: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  .b-hero .kids img {
    right: 3%;
    bottom: 0;
    height: 66%;
  }
}
@media only screen and (max-width: 1200px) {
  .b-hero .kids img {
    right: 0%;
    bottom: 0;
    height: 66%;
  }
}
@media only screen and (max-width: 768px) {
  .b-hero .kids img {
    right: 3%;
    bottom: 0;
    height: 66%;
    width: 90%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: bottom;
       object-position: bottom;
  }
}
.b-hero .b-hero__wrap {
  width: 100%;
  height: calc(100vh - 200px);
  min-height: 430px;
}
@media only screen and (max-width: 768px) {
  .b-hero .b-hero__wrap {
    min-height: initial;
    height: calc(100vh - 150px);
  }
}
.b-hero .b-hero__content {
  position: absolute;
  z-index: 3;
  bottom: 5%;
  left: 0;
  transform: translate(10%, 0);
  max-width: 996px;
  width: 100%;
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media only screen and (max-width: 998px) {
  .b-hero .b-hero__content {
    transform: translate(50px, 0);
  }
}
@media only screen and (max-width: 768px) {
  .b-hero .b-hero__content {
    top: 0;
    left: 50%;
    transform: translate(-50%, 20px);
    text-align: center;
    padding: 0 15px;
  }
}
@media only screen and (max-width: 768px) {
  .b-hero .b-hero__content .wp-block-group {
    justify-self: center;
    align-items: center;
  }
}
.b-hero .b-hero__content h1 {
  line-height: 1 !important;
  font-size: 6vw !important;
  margin: 0;
}
.b-hero .b-hero__content h1 small {
  font-size: 1.8vw !important;
  display: block;
}
@media only screen and (max-width: 768px) {
  .b-hero .b-hero__content h1 small {
    font-size: 31px !important;
  }
}
@media only screen and (max-width: 768px) {
  .b-hero .b-hero__content h1 {
    font-size: 48px !important;
  }
}
.b-hero .b-hero__content .subtitle-above {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  line-height: 1 !important;
  font-size: 2vw !important;
}
@media only screen and (max-width: 768px) {
  .b-hero .b-hero__content .subtitle-above {
    font-size: 24px !important;
  }
}
.b-hero .b-hero__content .subtitle-above:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: var(--white);
}
.b-hero .b-hero__content h1,
.b-hero .b-hero__content p {
  color: var(--white);
}
.b-hero .btn-rev {
  border-color: var(--white) !important;
  color: var(--white);
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 250px;
}
.b-hero .btn-main {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 250px;
}
.b-hero .btn-main-two {
  font-size: 21px;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 200px;
}
.b-hero .desc * {
  color: var(--white);
}
.b-hero .desc ul {
  list-style: none;
  margin: 0;
  padding-left: 30px;
  position: relative;
  color: #16a34a; /* dowolny kolor ✓ */
}
@media only screen and (max-width: 768px) {
  .b-hero .desc ul {
    padding-left: 0px;
  }
}
.b-hero .desc li {
  position: relative;
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .b-hero .desc li {
    font-size: 14px;
  }
}
.b-hero .desc li:before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0.2em;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  /* poprawny, zenkodowany SVG + currentColor */
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='red' d='M6 10.2L3.3 7.5L2.3 8.5L6 12.2L14 4.2L13 3.2L6 10.2Z'/%3E%3C/svg%3E");
}
@media only screen and (max-width: 768px) {
  .b-hero .desc li:before {
    display: none;
  }
}

.acf-block-preview .b-hero__wrap {
  height: initial;
}
.acf-block-preview .b-hero {
  position: relative;
  width: 100%;
  left: initial;
  margin-left: initial;
  text-align: center;
}
.acf-block-preview .b-hero .img {
  position: initial;
}

.sm-hero {
  background-color: var(--main2);
  padding: 10px 0;
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
}
.sm-hero ul {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
@media only screen and (max-width: 768px) {
  .sm-hero ul {
    flex-wrap: wrap;
    gap: 10px;
  }
}
.sm-hero ul li {
  margin: 0;
  padding: 0;
}
.sm-hero ul li path {
  transition: all 0.3s ease;
}
.sm-hero ul li:hover a svg path {
  fill: var(--main);
}

.marquee-wrap {
  background: red;
  width: 100%;
  width: 50%;
  overflow: hidden;
  position: absolute;
  right: -61px;
  top: 82px;
  transform: rotate(24deg);
  padding: 5px;
}
@media only screen and (max-width: 1200px) {
  .marquee-wrap {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .marquee-wrap {
    width: 100%;
    right: 0px;
    transform: rotate(0deg);
    top: initial;
    bottom: 80px;
  }
}
.marquee-wrap h3 {
  width: 100%;
  color: var(--white);
  width: 100px;
}/*# sourceMappingURL=hero.css.map */