@import "../../src/css/scss/variable";

.b-hero {
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
  overflow: hidden;
  .img {
    background-color: var(--main1);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    // height: auto;
    top: 0;
    left: 0;
    &:before {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #354c9e;
      background: linear-gradient(
        266deg,
        rgba(53, 76, 158, 0) 0%,
        rgba(30, 36, 85, 0.5) 100%
      );
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .kids {
    img {
      position: absolute;
      right: 10%;
      bottom: 0;
      height: 90%;
      @media #{$xxlg} {
        right: 3%;
        bottom: 0;
        height: 80%;
      }
      @media #{$slg} {
        right: 3%;
        bottom: 0;
        height: 66%;
      }
      @media #{$slg} {
        right: 0%;
        bottom: 0;
        height: 66%;
      }
      @media #{$sm} {
        right: 3%;
        bottom: 0;
        height: 66%;
        width: 90%;
        object-fit: contain;
        object-position: bottom;
      }
    }
  }
  .b-hero__wrap {
    width: 100%;
    height: calc(100vh - 200px);
    min-height: 430px;
    @media #{$sm} {
      min-height: initial;
    }
  }
  .b-hero__content {
    position: absolute;
    z-index: 3;
    bottom: 5%;
    left: 0;
    transform: translate(10%, 0);
    max-width: 996px;
    width: 100%;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    // @media #{$md} {
    //   transform: translate(0%, 0);
    // }
    @media #{$md} {
      transform: translate(50px, 0);
    }
    @media #{$sm} {
      top: 0;
      left: 50%;
      transform: translate(-50%, 20px);
      text-align: center;
      padding: 0;
    }
    .wp-block-group {
      @media #{$sm} {
        justify-self: center;
        align-items: center;
      }
    }
    h1 {
      // font-size: 90px !important;
      line-height: 1 !important;
      font-size: 6vw !important;
      margin: 0;
      small {
        font-size: 1.8vw !important;
        display: block;
        @media #{$sm} {
          font-size: 31px !important;
        }
      }
      @media #{$sm} {
        font-size: 48px !important;
      }
    }
    h1,
    p {
      color: var(--white);
    }
    h1 {
      font-size: 71px;
      line-height: normal;
      @media #{$sm} {
        font-size: 31px;
      }
    }
  }
  .btn-rev {
    border-color: var(--white) !important;
    color: var(--white);
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 250px;
  }
  .btn-main {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 250px;
  }
  .btn-main-two {
    font-size: 21px;
    padding-left: 30px;
    padding-right: 30px;
    min-width: 200px;
  }
}

.acf-block-preview {
  .b-hero__wrap {
    height: initial;
  }
  .b-hero {
    //   background-color: var(--black);
    position: relative;
    width: 100%;
    left: initial;
    margin-left: initial;
    text-align: center;
    .img {
      position: initial;
    }
  }
}

.sm-hero {
  background-color: var(--main2);
  padding: 10px 0;
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
  ul {
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    @media #{$sm} {
      flex-wrap: wrap;
      gap: 10px;
    }
    li {
      margin: 0;
      padding: 0;
      path {
        transition: all 0.3s ease;
      }
      &:hover {
        a {
          svg {
            path {
              fill: var(--main);
            }
          }
        }
      }
    }
  }
}
