@import "../../src/css/scss/variable";

.b-etapy {
  @media #{$sm} {
    // margin-bottom: 50px;
  }
  .b-etapy__wrap {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 50px;
    @media #{$sm} {
      flex-wrap: wrap;
      gap: 0;
    }
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 20px;
      width: 100%;
      height: 5px;
      background-color: #f4f4f4;
      @media #{$sm} {
        display: none;
      }
    }
  }
  .b-etapy__item {
    text-align: center;
    @media #{$sm} {
      position: relative;
    }
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 20px;
      width: 100%;
      height: 5px;
      background-color: #f4f4f4;
      display: none;
      @media #{$sm} {
        display: block;
      }
    }

    &:nth-child(1) {
      width: 30%;
      @media #{$sm} {
        width: 100%;
      }
    }
    &:nth-child(2) {
      @media #{$sm} {
        width: 100%;
      }
    }
    &:nth-child(3) {
      @media #{$sm} {
        width: 100%;
      }
    }
    h3 {
      width: 75%;
      display: inline-block;
      padding: 5px 15px;
      border-radius: 10px;
      text-transform: uppercase;
      background-color: var(--main2);
      color: var(--main);
      margin: 0 auto;
      margin-bottom: 50px;
    }
    .sep {
      height: 100px;
      display: block;
    }
    .content-wrap {
      position: relative;
      display: flex;
      justify-content: center;
      gap: 20px;
      @media #{$sm} {
        flex-wrap: wrap;
      }
      .content-col-1 {
        width: 100%;
      }
      .content-col-2 {
        width: 100%;
      }
      .content {
        position: relative;
        h4 {
          text-transform: uppercase;
          &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: -50px;
            left: 50%;
            transform: translate(0, -50%);
            width: 5px;
            height: 60px;
            background-color: #f4f4f4;
          }
        }
      }
    }
  }
}
